# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
src/assets/images-360/prot1-72e/prot1v2_1.jpg
src/assets/images-360/prot1-72e/prot1v2_2.jpg
src/assets/images-360/prot1-72e/prot1v2_3.jpg
src/assets/images-360/prot1-72e/prot1v2_4.jpg
src/assets/images-360/prot1-72e/prot1v2_5.jpg
src/assets/images-360/prot1-72e/prot1v2_6.jpg
src/assets/images-360/prot1-72e/prot1v2_7.jpg
src/assets/images-360/prot1-72e/prot1v2_8.jpg
src/assets/images-360/prot1-72e/prot1v2_9.jpg
src/assets/images-360/prot1-72e/prot1v2_10.jpg
src/assets/images-360/prot1-72e/prot1v2_11.jpg
src/assets/images-360/prot1-72e/prot1v2_12.jpg
src/assets/images-360/prot1-72e/prot1v2_13.jpg
src/assets/images-360/prot1-72e/prot1v2_14.jpg
src/assets/images-360/prot1-72e/prot1v2_15.jpg
src/assets/images-360/prot1-72e/prot1v2_16.jpg
src/assets/images-360/prot1-72e/prot1v2_17.jpg
src/assets/images-360/prot1-72e/prot1v2_18.jpg
src/assets/images-360/prot1-72e/prot1v2_19.jpg
src/assets/images-360/prot1-72e/prot1v2_20.jpg
src/assets/images-360/prot1-72e/prot1v2_21.jpg
src/assets/images-360/prot1-72e/prot1v2_22.jpg
src/assets/images-360/prot1-72e/prot1v2_23.jpg
src/assets/images-360/prot1-72e/prot1v2_24.jpg
src/assets/images-360/prot1-72e/prot1v2_25.jpg
src/assets/images-360/prot1-72e/prot1v2_26.jpg
src/assets/images-360/prot1-72e/prot1v2_27.jpg
src/assets/images-360/prot1-72e/prot1v2_28.jpg
src/assets/images-360/prot1-72e/prot1v2_29.jpg
src/assets/images-360/prot1-72e/prot1v2_30.jpg
src/assets/images-360/prot1-72e/prot1v2_31.jpg
src/assets/images-360/prot1-72e/prot1v2_32.jpg
src/assets/images-360/prot1-72e/prot1v2_33.jpg
src/assets/images-360/prot1-72e/prot1v2_34.jpg
src/assets/images-360/prot1-72e/prot1v2_35.jpg
src/assets/images-360/prot1-72e/prot1v2_36.jpg
src/assets/images-360/prot1-72e/prot1v2_37.jpg
src/assets/images-360/prot1-72e/prot1v2_38.jpg
src/assets/images-360/prot1-72e/prot1v2_39.jpg
src/assets/images-360/prot1-72e/prot1v2_40.jpg
src/assets/images-360/prot1-72e/prot1v2_41.jpg
src/assets/images-360/prot1-72e/prot1v2_42.jpg
src/assets/images-360/prot1-72e/prot1v2_43.jpg
src/assets/images-360/prot1-72e/prot1v2_44.jpg
src/assets/images-360/prot1-72e/prot1v2_45.jpg
src/assets/images-360/prot1-72e/prot1v2_46.jpg
src/assets/images-360/prot1-72e/prot1v2_47.jpg
src/assets/images-360/prot1-72e/prot1v2_48.jpg
src/assets/images-360/prot1-72e/prot1v2_49.jpg
src/assets/images-360/prot1-72e/prot1v2_50.jpg
src/assets/images-360/prot1-72e/prot1v2_51.jpg
src/assets/images-360/prot1-72e/prot1v2_52.jpg
src/assets/images-360/prot1-72e/prot1v2_53.jpg
src/assets/images-360/prot1-72e/prot1v2_54.jpg
src/assets/images-360/prot1-72e/prot1v2_55.jpg
src/assets/images-360/prot1-72e/prot1v2_56.jpg
src/assets/images-360/prot1-72e/prot1v2_57.jpg
src/assets/images-360/prot1-72e/prot1v2_58.jpg
src/assets/images-360/prot1-72e/prot1v2_59.jpg
src/assets/images-360/prot1-72e/prot1v2_60.jpg
src/assets/images-360/prot1-72e/prot1v2_61.jpg
src/assets/images-360/prot1-72e/prot1v2_62.jpg
src/assets/images-360/prot1-72e/prot1v2_63.jpg
src/assets/images-360/prot1-72e/prot1v2_64.jpg
src/assets/images-360/prot1-72e/prot1v2_65.jpg
src/assets/images-360/prot1-72e/prot1v2_66.jpg
src/assets/images-360/prot1-72e/prot1v2_67.jpg
src/assets/images-360/prot1-72e/prot1v2_68.jpg
src/assets/images-360/prot1-72e/prot1v2_69.jpg
src/assets/images-360/prot1-72e/prot1v2_70.jpg
src/assets/images-360/prot1-72e/prot1v2_71.jpg
src/assets/images-360/prot1-72e/prot1v2_72.jpg
src/assets/images-360/prot1-72d/prot1v2_1.jpg
src/assets/images-360/prot1-72d/prot1v2_2.jpg
src/assets/images-360/prot1-72d/prot1v2_3.jpg
src/assets/images-360/prot1-72d/prot1v2_4.jpg
src/assets/images-360/prot1-72d/prot1v2_5.jpg
src/assets/images-360/prot1-72d/prot1v2_6.jpg
src/assets/images-360/prot1-72d/prot1v2_7.jpg
src/assets/images-360/prot1-72d/prot1v2_8.jpg
src/assets/images-360/prot1-72d/prot1v2_9.jpg
src/assets/images-360/prot1-72d/prot1v2_10.jpg
src/assets/images-360/prot1-72d/prot1v2_11.jpg
src/assets/images-360/prot1-72d/prot1v2_12.jpg
src/assets/images-360/prot1-72d/prot1v2_13.jpg
src/assets/images-360/prot1-72d/prot1v2_14.jpg
src/assets/images-360/prot1-72d/prot1v2_15.jpg
src/assets/images-360/prot1-72d/prot1v2_16.jpg
src/assets/images-360/prot1-72d/prot1v2_17.jpg
src/assets/images-360/prot1-72d/prot1v2_18.jpg
src/assets/images-360/prot1-72d/prot1v2_19.jpg
src/assets/images-360/prot1-72d/prot1v2_20.jpg
src/assets/images-360/prot1-72d/prot1v2_21.jpg
src/assets/images-360/prot1-72d/prot1v2_22.jpg
src/assets/images-360/prot1-72d/prot1v2_23.jpg
src/assets/images-360/prot1-72d/prot1v2_24.jpg
src/assets/images-360/prot1-72d/prot1v2_25.jpg
src/assets/images-360/prot1-72d/prot1v2_26.jpg
src/assets/images-360/prot1-72d/prot1v2_27.jpg
src/assets/images-360/prot1-72d/prot1v2_28.jpg
src/assets/images-360/prot1-72d/prot1v2_29.jpg
src/assets/images-360/prot1-72d/prot1v2_30.jpg
src/assets/images-360/prot1-72d/prot1v2_31.jpg
src/assets/images-360/prot1-72d/prot1v2_32.jpg
src/assets/images-360/prot1-72d/prot1v2_33.jpg
src/assets/images-360/prot1-72d/prot1v2_34.jpg
src/assets/images-360/prot1-72d/prot1v2_35.jpg
src/assets/images-360/prot1-72d/prot1v2_36.jpg
src/assets/images-360/prot1-72d/prot1v2_37.jpg
src/assets/images-360/prot1-72d/prot1v2_38.jpg
src/assets/images-360/prot1-72d/prot1v2_39.jpg
src/assets/images-360/prot1-72d/prot1v2_40.jpg
src/assets/images-360/prot1-72d/prot1v2_41.jpg
src/assets/images-360/prot1-72d/prot1v2_42.jpg
src/assets/images-360/prot1-72d/prot1v2_43.jpg
src/assets/images-360/prot1-72d/prot1v2_44.jpg
src/assets/images-360/prot1-72d/prot1v2_45.jpg
src/assets/images-360/prot1-72d/prot1v2_46.jpg
src/assets/images-360/prot1-72d/prot1v2_47.jpg
src/assets/images-360/prot1-72d/prot1v2_48.jpg
src/assets/images-360/prot1-72d/prot1v2_49.jpg
src/assets/images-360/prot1-72d/prot1v2_50.jpg
src/assets/images-360/prot1-72d/prot1v2_51.jpg
src/assets/images-360/prot1-72d/prot1v2_52.jpg
src/assets/images-360/prot1-72d/prot1v2_53.jpg
src/assets/images-360/prot1-72d/prot1v2_54.jpg
src/assets/images-360/prot1-72d/prot1v2_55.jpg
src/assets/images-360/prot1-72d/prot1v2_56.jpg
src/assets/images-360/prot1-72d/prot1v2_57.jpg
src/assets/images-360/prot1-72d/prot1v2_58.jpg
src/assets/images-360/prot1-72d/prot1v2_59.jpg
src/assets/images-360/prot1-72d/prot1v2_60.jpg
src/assets/images-360/prot1-72d/prot1v2_61.jpg
src/assets/images-360/prot1-72d/prot1v2_62.jpg
src/assets/images-360/prot1-72d/prot1v2_63.jpg
src/assets/images-360/prot1-72d/prot1v2_64.jpg
src/assets/images-360/prot1-72d/prot1v2_65.jpg
src/assets/images-360/prot1-72d/prot1v2_66.jpg
src/assets/images-360/prot1-72d/prot1v2_67.jpg
src/assets/images-360/prot1-72d/prot1v2_68.jpg
src/assets/images-360/prot1-72d/prot1v2_69.jpg
src/assets/images-360/prot1-72d/prot1v2_70.jpg
src/assets/images-360/prot1-72d/prot1v2_71.jpg
src/assets/images-360/prot1-72d/prot1v2_72.jpg
src/assets/images-articles/sensorultrasonico.psd
src/assets/images-360/prot1-72f/prot1v2_1.jpg
src/assets/images-360/prot1-72f/prot1v2_2.jpg
src/assets/images-360/prot1-72f/prot1v2_3.jpg
src/assets/images-360/prot1-72f/prot1v2_4.jpg
src/assets/images-360/prot1-72f/prot1v2_5.jpg
src/assets/images-360/prot1-72f/prot1v2_6.jpg
src/assets/images-360/prot1-72f/prot1v2_7.jpg
src/assets/images-360/prot1-72f/prot1v2_8.jpg
src/assets/images-360/prot1-72f/prot1v2_9.jpg
src/assets/images-360/prot1-72f/prot1v2_10.jpg
src/assets/images-360/prot1-72f/prot1v2_11.jpg
src/assets/images-360/prot1-72f/prot1v2_12.jpg
src/assets/images-360/prot1-72f/prot1v2_13.jpg
src/assets/images-360/prot1-72f/prot1v2_14.jpg
src/assets/images-360/prot1-72f/prot1v2_15.jpg
src/assets/images-360/prot1-72f/prot1v2_16.jpg
src/assets/images-360/prot1-72f/prot1v2_17.jpg
src/assets/images-360/prot1-72f/prot1v2_18.jpg
src/assets/images-360/prot1-72f/prot1v2_19.jpg
src/assets/images-360/prot1-72f/prot1v2_20.jpg
src/assets/images-360/prot1-72f/prot1v2_21.jpg
src/assets/images-360/prot1-72f/prot1v2_22.jpg
src/assets/images-360/prot1-72f/prot1v2_23.jpg
src/assets/images-360/prot1-72f/prot1v2_24.jpg
src/assets/images-360/prot1-72f/prot1v2_25.jpg
src/assets/images-360/prot1-72f/prot1v2_26.jpg
src/assets/images-360/prot1-72f/prot1v2_27.jpg
src/assets/images-360/prot1-72f/prot1v2_28.jpg
src/assets/images-360/prot1-72f/prot1v2_29.jpg
src/assets/images-360/prot1-72f/prot1v2_30.jpg
src/assets/images-360/prot1-72f/prot1v2_31.jpg
src/assets/images-360/prot1-72f/prot1v2_32.jpg
src/assets/images-360/prot1-72f/prot1v2_33.jpg
src/assets/images-360/prot1-72f/prot1v2_34.jpg
src/assets/images-360/prot1-72f/prot1v2_35.jpg
src/assets/images-360/prot1-72f/prot1v2_36.jpg
src/assets/images-360/prot1-72f/prot1v2_37.jpg
src/assets/images-360/prot1-72f/prot1v2_38.jpg
src/assets/images-360/prot1-72f/prot1v2_39.jpg
src/assets/images-360/prot1-72f/prot1v2_40.jpg
src/assets/images-360/prot1-72f/prot1v2_41.jpg
src/assets/images-360/prot1-72f/prot1v2_42.jpg
src/assets/images-360/prot1-72f/prot1v2_43.jpg
src/assets/images-360/prot1-72f/prot1v2_44.jpg
src/assets/images-360/prot1-72f/prot1v2_45.jpg
src/assets/images-360/prot1-72f/prot1v2_46.jpg
src/assets/images-360/prot1-72f/prot1v2_47.jpg
src/assets/images-360/prot1-72f/prot1v2_48.jpg
src/assets/images-360/prot1-72f/prot1v2_49.jpg
src/assets/images-360/prot1-72f/prot1v2_50.jpg
src/assets/images-360/prot1-72f/prot1v2_51.jpg
src/assets/images-360/prot1-72f/prot1v2_52.jpg
src/assets/images-360/prot1-72f/prot1v2_53.jpg
src/assets/images-360/prot1-72f/prot1v2_54.jpg
src/assets/images-360/prot1-72f/prot1v2_55.jpg
src/assets/images-360/prot1-72f/prot1v2_56.jpg
src/assets/images-360/prot1-72f/prot1v2_57.jpg
src/assets/images-360/prot1-72f/prot1v2_58.jpg
src/assets/images-360/prot1-72f/prot1v2_59.jpg
src/assets/images-360/prot1-72f/prot1v2_60.jpg
src/assets/images-360/prot1-72f/prot1v2_61.jpg
src/assets/images-360/prot1-72f/prot1v2_62.jpg
src/assets/images-360/prot1-72f/prot1v2_63.jpg
src/assets/images-360/prot1-72f/prot1v2_64.jpg
src/assets/images-360/prot1-72f/prot1v2_65.jpg
src/assets/images-360/prot1-72f/prot1v2_66.jpg
src/assets/images-360/prot1-72f/prot1v2_67.jpg
src/assets/images-360/prot1-72f/prot1v2_68.jpg
src/assets/images-360/prot1-72f/prot1v2_69.jpg
src/assets/images-360/prot1-72f/prot1v2_70.jpg
src/assets/images-360/prot1-72f/prot1v2_71.jpg
src/assets/images-360/prot1-72f/prot1v2_72.jpg
