<div class="w3-row">

    <h2 class="subtitulo">STLs</h2>
    <p class="subtitulo">Haga click y arrastre el modelo para ver las piezas plásticas necesarias para llevarlo a cabo.
    </p>
    <div class="contenedor">
        <div class="w3-container">
            <iframe class="iframe1" src="https://myhub.autodesk360.com/ue2d34a2c/shares/public/SH9285eQTcf875d3c5397b7da8716711146e?mode=embed" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" scrolling="no"></iframe>
        </div>

        <div class="item-grilla-comp-text">
            <p>Las piezas fueron impresas en una Ender3; se eligió como material PetG, con un infill de 25%, un wall thickness de 1.4mm, hotbed en 70 centígrados y hotend en 238 centígrados usando el fan al 50%.</p>
            <div class="button2" (click)="onClickButtonNewTab('https://a360.co/36mesOH')">
                Descarga de STLs</div>
        </div>
    </div>

</div>
