
    <div class="allCards" >

        <section class="cards">
            
            <div class="card2" *ngFor="let item of tarjeta">
                <br>
                <div class="card__image-container">
                    <div class="card__image-mascara">
                        <img appImgBroken src="{{item.imagen}}">
                    </div>
                </div>

                <div class="card_content">
                    <p class="card_title text--medium">
                        {{item.titulo}}
                    </p>
                    <div class="card_info">
                        <p class="text--medium">
                            {{item.subTitulo}}
                        </p>
                        <p class="card_info2 text--medium" (click)="onCardClick(item.enlace)">
                            Mas Info
                        </p>
                    </div>
                </div>
            </div>

        </section>

    </div>




<!--
<main>

<div class="allCards">

<section class="cards">

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{tarjeta[0].titulo}}</mat-card-title>
            <mat-card-subtitle>Sobre el proyecto</mat-card-subtitle>
        </mat-card-header>
        <div class="card__image-container">
            <img mat-card-lg-image src="http://www.slicetex.com.ar/docs/an/an033/img/pid.png" alt="Aplicaciones PID">
        </div>
        <mat-card-content>
            <p>
                Este proyecto se concebió durante el cursado y estudio de la matería Teoría de Control, en la UTN FRRo. Que gracias a la necesidad de  
                querer incorporar conocimientos abstractos, decidí investigar su apliación práctica.
            <br>
                En otras palabras crear un mecanismo a mi alcance que utilice Controles PID, cuya finalidad es alcanzar y mantener un valor deseado en un proceso.
            </p>
        </mat-card-content>
        <mat-card-footer>          
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-footer>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-title-group>
        <mat-card-title>Sobre el proyecto</mat-card-title>
        <mat-card-subtitle>Sobre el proyecto</mat-card-subtitle>
        <div class="card__image-container">
            <img mat-card-lg-image src="http://www.slicetex.com.ar/docs/an/an033/img/pid.png" alt="Aplicaciones PID">
        </div>
        </mat-card-title-group>
        <mat-card-content>
            
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Medium</mat-card-subtitle>
        <div class="card__image-container">
            <img mat-card-lg-image src="http://www.slicetex.com.ar/docs/an/an033/img/pid.png" alt="Aplicaciones PID">
        </div>
        </mat-card-title-group>
        <mat-card-content>
        <p>
                Este proyecto se concebió durante el cursado y estudio de la matería Teoría de Control, en la UTN FRRo. Que gracias a la necesidad de  
                querer incorporar conocimientos abstractos, decidí investigar su apliación práctica.
            <br>
                En otras palabras crear un mecanismo a mi alcance que utilice Controles PID, cuya finalidad es alcanzar y mantener un valor deseado en un proceso.
            </p>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
        <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Large</mat-card-subtitle>
        <div class="card__image-container">
            <img mat-card-lg-image src="http://www.slicetex.com.ar/docs/an/an033/img/pid.png" alt="Aplicaciones PID">
        </div>
        </mat-card-title-group>
        <mat-card-content>
        <p>
                Este proyecto se concebió durante el cursado y estudio de la matería Teoría de Control, en la UTN FRRo. Que gracias a la necesidad de  
                querer incorporar conocimientos abstractos, decidí investigar su apliación práctica.
            <br>
                En otras palabras crear un mecanismo a mi alcance que utilice Controles PID, cuya finalidad es alcanzar y mantener un valor deseado en un proceso.
            </p>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
        <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Extra large</mat-card-subtitle>
        <div class="card__image-container">
            <img mat-card-lg-image src="http://www.slicetex.com.ar/docs/an/an033/img/pid.png" alt="Aplicaciones PID">
        </div>
        </mat-card-title-group>
        <mat-card-content>
        
        </mat-card-content>
    </mat-card>

</section>

</div>

</main>

-->