<div class="container">
    <h1 class="subtitulo">
        Referencias
    </h1>
    <ul class="related-posts">
        <li>
            <!-- <a href="/LICENSE/" class="heading flip-title">LICENSE</a> -->
            <p>
                <a href="https://es.wikipedia.org/wiki/Controlador_PID">wikipedia.org/wiki/Controlador_PID</a>
            </p>
            <p>controlador PID (controlador proporcional, integral y derivativo)</p>
        </li>
        <li>
            <!-- <a href="/NOTICE/" class="heading flip-title">NOTICE</a> -->
            <p>
                <a href="https://realpars.com/pid-controller/">PID Controller Explained</a>
            </p>
            <p>Learn why PID Controllers are used in industrial processes instead of simple ON/OFF Controllers.</p>
        </li>
        <li>
            <!-- <a href="/CHANGELOG/" class="heading flip-title">CHANGELOG</a> -->
            <p>Bazanella, A. S.; Silva Júnior, J. M. G. Da.
            </p>
            <p>“Sistemas de Controle”: princípios e métodos de projeto. 1.ed. Editora UFRGS, 2005.</p>
        </li>
    </ul>
</div>
