<div class="w3-row">
    <h2 class="subtitulo">Esquema de Conexiones</h2>
    <div class="contenedor">
        <div class="image-container1">
            <img src="./assets/images-articles/Esquema.png">
        </div>
    </div>
    <div class="contenedor">
        <p class="texto">Se recomienda usar una fuente mayor >= 12v 1a, el step-down como la placa expansora tienen sus 
                                    propios reguladores de voltaje para evitar voltajes irregulares,
                                    que se puede dar cuando se aplica una alta exigencia al servo motor.
                                    Tanto el servomotor como la placa expansora les llega un voltaje regulado de 6 volts.
        </p>
    </div>
    <div class="contenedor2">
        <table class="table">
            <thead>
                <th data-field="Conex">Conexión</th>
                <th data-field="plcExp">Exp. Shield v3</th>
                <th data-field="sensA">HC-SR04 A</th>
                <th data-field="sensB">HC-SR04 B</th>
                <th data-field="servo">Servo-Motor</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Pin 5 volts</td>
                    <td>Pin Vcc</td>
                    <td>Pin Vcc</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Pin GND</td>
                    <td>Pin GND</td>
                    <td>Pin GND</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Pin 5</td>
                    <td>Pin Echo</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Pin 6</td>
                    <td>Pin Trig</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Pin 9</td>
                    <td></td>
                    <td>Pin Trig</td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Pin 10</td>
                    <td></td>
                    <td>Pin Echo</td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Pin 8</td>
                    <td></td>
                    <td></td>
                    <td>Cbl Naranja</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>6v Cbl Rojo</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>GND Cbl Blanco</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
