<body>
    <article class="page">

        <header>
            <h1 id="titulo" class="page-title">Hardware Desarrollado - Prototipos</h1>

        </header>
        <app-obj-viewer></app-obj-viewer>
        
        <div class="w3-container texto">
            <br>
            <p>Antes de comenzar a desglosar las partes de este primer prototipo; tales como su funcionamiento, sus componentes, errores/mejoras ...
                debemos entender que estamos haciendo.</p>
            <h2 class="subtitulo">Descripción del dispositivo</h2>

            <p>A simple vista se puede observar una barra pivotante de 65 cm de largo, en la cuál se desplaza libremente un carro con una masa aproximada de 150 gr,
                de manera que al activar al servomotor se cambie la inclinación de la barra, y como consecuencia el carro se desplazará por su
                energía potencial, buscando llegar hacia un nuevo punto de equilibrio.</p>
            <p>Usando los conocimientos de teoría de control y programación, podemos indicarle a éste sistema en qué posición de la barra
                queremos que el carro encuentre su nuevo punto de equilibrio (se detenga). Dicho punto recibe el nombre de SetPoint. También es importante señalar 
                otra magnitud importante, que es el Error, y se deriva de la diferencia entre la posición actual del carro y el SetPoint.<br>
                El sistema PID estará siempre buscando eliminar el error, en otras palabras, desplazar el carro hacia el setpoint, enfrentando
                perturbaciones externas y ajustándose automáticamente.
                 Ej de perturbación: Una persona que manualmente mueve el carro fuera de su SetPoint.</p>
            <p>Un factor deseado de estos sistemas PID reside en cuán rápido queremos que el sistema responda, si queremos que llegue lentamente y sin pasarse del SP, 
                que llegue rápidamente y pasando de largo el SetPoint (momentáneamente) o quizás un intermedio entre los dos comportamientos anteriores.
                Eso se logra afinando las constantes (Kp, Kd y Ki) del sistema.</p>
        </div>
        <div class="linea"></div>
        <br>
        <div class="w3-row">
            <h2 class="subtitulo">¿Cómo se calcula la posición del carro?</h2>
            <div class="w3-threequarter w3-container texto">
                <p>El dispositivo está capacitado con sensores ultrasónicos en los extremos de la barra, y su utilidad es conocer la
                   distancia del carro respecto a los extremos en todo momento. Si bien inicialmente un sensor podría parecer suficiente,
                   las limitaciones físicas del sensor ultrasónico y la distancia de la barra obligó a instalar uno en cada extremo.</p>
                <p>El funcionamiento de los sensores ultrasónicos es bastante sencillo en la teoría, cada sensor tiene cabezales cilíndricos,
                    uno se encarga de emitir un pin sónico y el otro cabezal cilíndrico actúa de micrófono. La distancia se obteniene 
                    al multiplicar la velocidad del sonido (340 m/s) = (0.034 cm/ms(micro segundos)) * (tiempo recorrido del Ping), y todo lo 
                    anterior dividido 2 debido a que el Ping hace un viaje de ida y vuelta.</p>

                <div class="info">
                    <p>En el caso de que alguien quiera experimentar con estos sensores en arduino, les comparto un código básico para visualizar 
                        la distancia por el puerto serial.</p>
                    <div class="button" (click)="onClickButtonNewTab('https://raw.githubusercontent.com/eliasagustin/pid/main/src/assets/codes/sensor_de_distancia_ultrasonico.ino')">
                        Abrir código</div>
                </div>

            </div>
            <div class="w3-quarter w3-container w3-hide-small">
                <div class="image-container3">
                    <img class="imagen-chica" src="./assets/images-articles/ultrasonico.png" alt="PID control - Tank valve">
                </div>

            </div>
        </div>


        <div class="linea"></div>
        
            <app-video-viewer></app-video-viewer>

        <div class="linea"></div>

            <app-learned-lessons></app-learned-lessons>

        <div class="linea"></div>
        <br>
        <div class="w3-row">
            <h2 class="subtitulo">Códigos usados en este proyecto</h2>
            <app-code-gallery-pa></app-code-gallery-pa>
        </div>

        <div class="linea"></div>
        <br>
        <app-materials></app-materials>

        <div class="linea"></div>
        <br>

        <app-circuito></app-circuito>
        

        <div class="linea"></div>
        <br>
        <app-stl-viewer></app-stl-viewer>
    </article>


</body>
