<body>
    <article class="page">

        <header>
            <h1 id="titulo" class="page-title">Hardware Desarrollado - Prototipos</h1>
            <!-- <div class="linea"></div> -->

        </header>

        <h2 class="subtitulo-centrado">Primer prototipo funcional brazo PID</h2>
        <iframe scrolling="no" id="objViewer" src="https://eliasagustin.github.io/EGraficos/viewer360/prot1.html" title="Viewer" frameborder="0"></iframe>

        <div class="w3-container texto">
            <br>
            <p>Antes de comenzar a desglosar las partes de este primer prototipo; tales como su funcionamiento, sus componentes, errores/mejoras ...
                                                                                                                 debemos entender que estamos haciendo.</p>
            <h2 class="subtitulo">Descripción del dispositivo</h2>

            <p>A simple vista se puede observar una barra pivotante de 65 cm de largo, en la cuál se desplaza libremente un carro con una masa aproximada de 150 gr,
                                                                                                                de manera que al activar al servomotor se cambie la inclinación de la barra, y como consecuencia el carro se desplazará por su
                                                                                                                energía potencial, buscando llegar hacia un nuevo punto de equilibrio.</p>
            <p>Usando los conocimientos de teoría de control y programación, podemos indicarle a éste sistema en qué posición de la barra
                                                                                                                queremos que el carro encuentre su nuevo punto de equilibrio (se detenga). Dicho punto recibe el nombre de SetPoint. También es importante señalar 
                                                                                                                otra magnitud importante, que es el Error, y se deriva de la diferencia entre la posición actual del carro y el SetPoint.<br>
                El sistema PID estará siempre buscando eliminar el error, en otras palabras, desplazar el carro hacia el setpoint, enfrentando
                                                                                                                  perturbaciones externas y ajustándose automáticamente.
                                                                                                                 Ej de perturbación: Una persona que manualmente mueve el carro fuera de su SetPoint.</p>
            <p>Un factor deseado de estos sistemas PID reside en cuán rápido queremos que el sistema responda, si queremos que llegue lentamente y sin pasarse del SP, 
                                                                                                                 que llegue rápidamente y pasando de largo el SetPoint (momentáneamente) o quizás un intermedio entre los dos comportamientos anteriores.
                                                                                                                 Eso se logra afinando las constantes (Kp, Kd y Ki) del sistema.</p>
        </div>
        <div class="linea"></div>
        <br>
        <div class="w3-row">
            <h2 class="subtitulo">¿Cómo se calcula la posición del carro?</h2>
            <div class="w3-threequarter w3-container texto">
                <p>El dispositivo está capacitado con sensores ultrasónicos en los extremos de la barra, y su utilidad es conocer la
                                                                                                                                             distancia del carro respecto a los extremos en todo momento. Si bien inicialmente un sensor podría parecer suficiente,
                                                                                                                                              las limitaciones físicas del sensor ultrasónico y la distancia de la barra obligó a instalar uno en cada extremo.</p>
                <p>El funcionamiento de los sensores ultrasónicos es bastante sencillo en la teoría, cada sensor tiene cabezales cilíndricos,
                                                                                                                                             uno se encarga de emitir un pin sónico y el otro cabezal cilíndrico actúa de micrófono. La distancia se obteniene 
                                                                                                                                             al multiplicar la velocidad del sonido (340 m/s) = (0.034 cm/ms(micro segundos)) * (tiempo recorrido del Ping), y todo lo 
                                                                                                                                              anterior dividido 2 debido a que el Ping hace un viaje de ida y vuelta.</p>

                <div class="info">
                    <p>En el caso de que alguien quiera experimentar con estos sensores en arduino, les comparto un código básico para visualizar 
                                                                                                la distancia por el puerto serial.</p>
                    <div class="button" (click)="onClickButtonNewTab('https://raw.githubusercontent.com/eliasagustin/pid/main/src/assets/codes/sensor_de_distancia_ultrasonico.ino')">
                        Abrir código</div>
                </div>

            </div>
            <div class="w3-quarter w3-container w3-hide-small">
                <div class="image-container3">
                    <img class="imagen-chica" src="./assets/images-articles/ultrasonico.png" alt="PID control - Tank valve">
                </div>

            </div>
        </div>


        <div class="linea"></div>

        <div class="subtitulo">
            <h2>Método usado para las pruebas</h2>
        </div>
        <p class="w3-container texto">Para estudiar el comportamiento de los controladores PID ante diferentes constantes,
                                                                        se ha seguido la siguiente metodología:
        </p>
        <ul class="item-list">
            <li>
                Abrimos el codigo del repositorio, desde Arduino IDE, modificando
                <b>solo</b>
                las constantes  (setPoint, Kp, Ki, Kd).
            </li>
            <li>
                Aseguramos el dispositivo, compilamos el codigo y dejamos conectado el usb, para visualizar el setPoint y el error medido.
            </li>
            <li>
                Una vez estabilizado, para perturbar el sistema se desplaza manualmente el carro hacia un extremo de la barra y soltar.
            </li>
            <li>
                Una vez estabilizado, desplazar el carro manualmente hacia el otro extremo y soltar.
            </li>
        </ul>
        <div class="w3-row">
            <div class="subtitulo2">Primer Ejecución, variando constantes Kp</div>
            <div class="w3-threequarter w3-container texto">
                <iframe class="iframe1" src="https://www.youtube.com/embed/sM9FfloOZU8" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="w3-quarter w3-container">
                <div class="constantes-video">
                    SP: 24<br>
                    Kp: [2..11]<br>
                    Ki: 0<br>
                    Kd: 0<br>
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="subtitulo2">Segunda Ejecución, variando constantes Kd</div>
            <div class="w3-threequarter w3-container texto">
                <iframe class="iframe1" src="https://www.youtube.com/embed/5Xe3bkG6Jmg" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="w3-quarter w3-container">
                <div class="constantes-video">
                    SP: 24<br>
                    Kp: 10<br>
                    Ki: 0<br>
                    Kd: [1, 10, 50, 100, 200, 250]<br>
                </div>
            </div>
        </div>
        <div class="linea"></div>

        <div class="w3-row">
            <h2 class="subtitulo">Errores aprendidos y mejoras</h2>
            <div class="grilla-texto">
                <div class="item-grilla-preguntas">
                    <p class="texto">1º Problema<br>
                        Los sensores elegidos capturan mucho ruido, si bien intenté filtrar la señal suavizando la entrada, llega un punto
                                                                donde el filtrado interfiere con la respuesta del controlador creando delay.</p>
                </div>
                <div class="item-grilla-respuestas">
                    <p class="texto">Solución a implementar:<br>
                        Para tratar de minimizar el ruido se recomienda implementar el sensor VL53L0X, que utiliza tecnología laser 
                                                para medir distancias menores a 2 metros, de lectura instantanea, con una implementación de código amigable por tener su propia
                                                libreria y otro punto importante es la
                        <a href="http://robots-argentina.com.ar/didactica/vl53l0x-sensor-de-distancia-que-mide-por-la-velocidad-de-la-luz-time-of-fly/">documentación disponible</a>
                        en español.
                    </p>
                </div>
                <div class="item-grilla-preguntas">
                    <p class="texto">2º Problema<br>
                        La fuerza ejercida por el servomotor con algunos parámetros apalanca el carro proyectandolo al aire.</p>
                </div>
                <div class="item-grilla-respuestas">
                    <p class="texto">Solución a implementar:<br>
                        Una forma relativamente sencilla de asegurar el carro sin limitar su movimiento, es instalar una varilla de acero 4mm de diámetro, 
                                                 en forma paralela a la barra pivotante. También es necesario modificar el diseño del carro, para q dicha varilla atraviese el cuerpo
                                                 limitando el moviento vertical del mismo, de esta manera el carro estará siempre en contacto con la barra pivotante.
                    </p>
                </div>
                <div class="item-grilla-preguntas">
                    <p class="texto">3º Problema<br>
                        El diseño del carro no contempla la fijación del lastre perdiendo tiempo en tratar de ajustarlo.</p>
                </div>
                <div class="item-grilla-respuestas">
                    <p class="texto">Solución a implementar:<br>
                        Rediseñar el carro incorporando una cavidad cilíndrica para alojar el lastre, y fijandolo mediante tornillos.
                    </p>
                </div>
                <div class="item-grilla-preguntas">
                    <p class="texto">4º Problema<br>
                        Como al modificar las constantes no se implementó ninguna interfaz, estas solo se pueden cambiar con la modificación 
                                                del código fuente luego y resubiendolo.</p>
                </div>
                <div class="item-grilla-respuestas">
                    <p class="texto">Solución a implementar:<br>
                        Crear una interfaz en windows form para lograr la comunicación serial mediante el puerto USB, ésta debe tener la capacidad de leer/modificar
                                                todas constantes, agregar la capacidad de guardar y graficar tanto el error como setpoint vs tiempo.
                    </p>
                </div>
            </div>
        </div>

        <div class="linea"></div>
        <br>
        <div class="w3-row">
            <h2 class="subtitulo">Código</h2>
            <app-code-viewer></app-code-viewer>
        </div>

        <div class="linea"></div>
        <br>
        <div class="w3-row">
            <h2 class="subtitulo">Componentes</h2>
            <div class="grilla-comp">
                <div class="item-grilla-comp-img">
                    <img src="./assets/images-articles/ArduinoNano.png">
                </div>
                <div class="item-grilla-comp-text">
                    <p class="texto2">x1 Arduino Nano<br><br>
                        Microcontrolador: ATmega328P<br>Pines Digitales E/S: 14 (6 para PWM)<br>Velocidad de clock: 16 MHz<br>
                        Pines Analógicos: 8
                                                Voltaje de alimentación: 7-12V
                    </p>
                    <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/arduino-nano#D[A:arduino%20nano]')">
                        Consultar en Mercadolibre</div>
                </div>
            </div>
            <div class="grilla-comp">
                <div class="item-grilla-comp-img">
                    <img src="./assets/images-articles/servoComp.png">
                </div>
                <div class="item-grilla-comp-text">
                    <p class="texto2">x1 Servo Digital Mg996r<br><br>
                        Torque(@6.0V): 12kg<br>Engranajes: Bronce<br>Rango: 4.8V a 6.0V<br>Angulo de operacion: 180<br>Medidas: 40mm x 20mm x 37mm
                    </p>
                    <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/servomotor-mg-996r#D[A:servomotor%20mg%20996r]')">
                        Consultar en Mercadolibre</div>
                </div>
            </div>
            <div class="grilla-comp">
                <div class="item-grilla-comp-img">
                    <img src="./assets/images-articles/sensorComp.png">
                </div>
                <div class="item-grilla-comp-text">
                    <p class="texto2">x2 Sensor ultrasonico HC-SR04<br><br>
                        Tensión de Operación: 5V DC<br>Rango de medición: 2cm a 450cm<br>Frecuencia de ultrasonido: 40KHz<br>
                        Rango de medición: 2cm a 450cm<br>Ángulo de apertura: 15°
                    </p>
                    <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/sensor-ultrasonido-ultrasonido-hcsr04#D[A:Sensor%20Ultrasonido%20Ultrasonido%20Hcsr04%20]')">
                        Consultar en Mercadolibre</div>
                </div>
            </div>
            <div class="grilla-comp">
                <div class="item-grilla-comp-img">
                    <img src="./assets/images-articles/shieldComp.png">
                </div>
                <div class="item-grilla-comp-text">
                    <p class="texto2">x1 Nano Shield Pro Arduino V3.0<br><br>
                        Voltaje de funcionamiento: 7-12V<br>Pines para 8 salidas analógicas.<br>Pines para 6 salidas PWM.<br>
                        Pines para la interfaz I2C.
                    </p>
                    <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/nano-shield-pro-arduino-v3.0-expansion#D[A:Nano%20Shield%20Pro%20Arduino%20V3.0%20Expansion]')">
                        Consultar en Mercadolibre</div>
                </div>
            </div>
            <div class="grilla-comp">
                <div class="item-grilla-comp-img">
                    <img src="./assets/images-articles/rodComp.png">
                </div>
                <div class="item-grilla-comp-text">
                    <p class="texto2">4x Rodamiento R 3 Zz<br><br>
                        Medidas:<br>4.762mm X 12.70mm X 4.98mm<br>
                        autolubricados<br><br>
                    </p>
                    <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/ruleman-r3zz#D[A:ruleman%20r3zz]')">
                        Consultar en Mercadolibre</div>
                </div>
            </div>
            <div class="grilla-comp">
                <div class="item-grilla-comp-img">
                    <img src="./assets/images-articles/rod608zz.png">
                </div>
                <div class="item-grilla-comp-text">
                    <p class="texto2">2x Rodamiento 608Zz<br><br>
                        Diámetro externo: 22 mm<br>Diámetro interno: 8 mm<br>Material: Acero<br>
                        autolubricados
                    </p>
                    <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/rodamiento-608#D[A:rodamiento%20608]')">
                        Consultar en Mercadolibre</div>
                </div>
            </div>
            <div class="grilla-comp">
                <div class="item-grilla-comp-img">
                    <img src="./assets/images-articles/setpDownComp.png">
                </div>
                <div class="item-grilla-comp-text">
                    <p class="texto2">1x Fuente Step-down Dc-dc Lm2596<br><br>
                        Input voltage 4V to 40V<br>Gama de voltaje de la salida: 1.25-37VDC ajustable<br>Corriente de salida: 3A<br>Tamaño: 61mm x 34.1mm<br>
                        Display Voltímetro
                    </p>
                    <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/step-down-dc-dc-1%2C25-37v-3a-lm2596#D[A:Step%20Down%20Dc-dc%201,25-37v%203a%20Lm2596]')">
                        Consultar en Mercadolibre</div>
                </div>
            </div>
            <div class="grilla-comp">
                <div class="item-grilla-comp-img">
                    <img src="./assets/images-articles/guiaD52.png">
                </div>
                <div class="item-grilla-comp-text">
                    <p class="texto2">2x Rieles Inferior D-52<br><br>
                        Modelo Riel d-52, de aluminio anodizado.<br>Largo de cada guia 70cm<br>Este componente que se va utilizar con se corresponder con STLs para imprimir,
                                                de realizar convendria mantener este modelo de ser posible, de lo contrario tendrán que remodelar los STLs.
                    </p>
                    <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/riel-inferior-d-52#D[A:Riel%20Inferior%20D-52%20]')">
                        Consultar en Mercadolibre</div>
                </div>
            </div>
            <div class="grilla-comp">
                <div class="item-grilla-comp-img">
                    <img src="./assets/images-articles/wood.png">
                </div>
                <div class="item-grilla-comp-text">
                    <p class="texto2">Madera de Pino<br><br>
                        Medidas tabla base:<br>&nbsp;&nbsp;10cm X 3.6cm X 45cm<br>
                        Medidas soporte pivote:<br>&nbsp;&nbsp;6,7cm X 3.6cm X 15,5cm<br>
                        Medidas soporte servo:<br>&nbsp;&nbsp;6,2cm X 3.6cm X 6,3cm<br>
                        Aclaración: Las medidas que se pueden intercambiar excepto por el alto del sop. pivote de 15.5cm y el alto del sop. servo de 6.3cm.
                    </p>
                </div>
            </div>
        </div>

        <div class="linea"></div>
        <br>

        <div class="w3-row">
            <h2 class="subtitulo">Esquema de Conexiones</h2>
            <div class="w3-container">
                <div class="image-container1">
                    <img src="./assets/images-articles/Esquema.png">
                </div>
            </div>
            <div class="w3-container">
                <p class="texto">Se recomienda usar una fuente mayor >= 12v 1a, el step-down como la placa expansora tienen sus propios reguladores de voltaje para evitar voltajes irregulares,
                                     que se puede dar cuando se aplica una alta exigencia al servo motor.
                                     Tanto el servomotor como la placa expansora les llega un voltaje regulado de 6 volts.

                </p>

                <table id="conex-table" class="table">
                    <thead>
                        <th data-field="Conex">Conexión</th>
                        <th data-field="plcExp">Expansion Shield v3</th>
                        <th data-field="sensA">HC-SR04 A</th>
                        <th data-field="sensB">HC-SR04 B</th>
                        <th data-field="servo">Servo-Motor</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Pin 5 volts</td>
                            <td>Pin Vcc</td>
                            <td>Pin Vcc</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Pin GND</td>
                            <td>Pin GND</td>
                            <td>Pin GND</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Pin 5</td>
                            <td>Pin Echo</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Pin 6</td>
                            <td>Pin Trig</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Pin 9</td>
                            <td></td>
                            <td>Pin Trig</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Pin 10</td>
                            <td></td>
                            <td>Pin Echo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Pin 8</td>
                            <td></td>
                            <td></td>
                            <td>Cable Naranja</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>6v Cable Rojo</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>GND Cable Blanco</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="linea"></div>
        <br>

        <div class="w3-row">
            <h2 class="subtitulo">STLs</h2>
            <p class="subtitulo">Haga click y arrastre el modelo para ver las piezas plásticas necesarias para llevarlo a cabo.
            </p>
            <div class="w3-container">
                <iframe class="iframe1" src="https://myhub.autodesk360.com/ue2d34a2c/shares/public/SH9285eQTcf875d3c5397b7da8716711146e?mode=embed"  
                allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" scrolling="no"></iframe>
            </div>
           
            <div class="item-grilla-comp-text">
                <p>Las piezas fueron impresas en una Ender3; se eligió como material PetG, con un infill de 25%, un wall thickness de 1.4mm, hotbed en 70 centígrados y hotend en 238 centígrados usando el fan al 50%.</p>
                <div class="button2" (click)="onClickButtonNewTab('https://a360.co/36mesOH')">
                    Descarga de STLs</div>
            </div>
                

        </div>

    </article>


</body>
