* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
  background: #2a2d2f;
  color: #eee;
}

:root {
  --color-1: #026aa7;
  --color-2: #e4f0f6;
  --color-3: #fafbfc;
  --color-4: #5e6c84;
  --color-5: #4ca03b;
  --font-family-1: "Poppins", "sans-serif";
  --box-shadow-1: rgb(0 0 0 / 10%) 0 0 10px;
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --border-radius: 3px;
  --font-weight-1: 300;
}

body {
  width: 100%;
  background-color: var(--color-3);
  font-family: var(--font-family-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 20px;
}
.page {
  height: 200%; /* 2860px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#titulo {
  padding: 10px;
  text-align: center;
  filter: brightness(150%);
  border-bottom-style: groove;
  border-bottom-width: 2px;
  border-bottom-color: rgba(0, 255, 255, 90%);
  /* border-bottom-style: var(--box-shadow-1);
    box-shadow: 0px 0px 10px 1px #0ff; */
}

.subtitulo {
  /* Arriba | Derecha | Abajo | Izquierda */
  text-align: center;
  margin-top: 4px;
  padding: 10px;
  padding-bottom: 1px;
}

.subtitulo2 {
  text-align: center;
  font-weight: var(--font-weight-1);
  font-size: 20px;

  padding-top: 15px;
  padding-bottom: 10px;
}

.constantes-video {
  background: rgb(200 220 220 / 10%);
  overflow: visible;
  font-weight: var(--font-weight-1);
  padding: 10px 0px 10px 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  /* margin-left: 15px; */
  /* transform: translate(-15px, 0%); */
  /* margin-right: 15px; */
  line-height: 25px;
  box-shadow: 0px 0px 10px 1px rgba(0, 255, 255, 0.445);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.iframe1 {
  width: 100%;
  height: 50vw;
}

.linea {
  border-top: 1px solid rgb(200 220 220 / 90%);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 10px 1px #0ff;
  width: 90%;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

p {
  font-weight: var(--font-weight-1);
  font-size: 16px;
  line-height: 28px;
}

ul {
  background: rgb(200 220 220 / 10%);
  padding: 20px;
}

ul li {
  /* background: #cce5ff; */
  margin: 5px;
  padding: 10px;
  list-style-type: none;
  line-height : 25px
}

.texto {
  position: relative;
  /* transform: translate(-2%, 0%);
    box-shadow: 0px 0px 10px 1px #0ff; */
}

.image-container2 img {
  width: 300px;
  height: 400px;
  background: rgb(200 220 220 / 0%);
  /* transform: translate(-46%, -100%); */
  /* top: 10px; */
  transform: translate(-10%, -10%);
  /* position: absolute; */
  /* transform: translate(0%, -50%); */
  /* left: 50px; */
  /*     
    left: 60%;
    display: block; */
}

.subtitulo-centrado {
  text-align: center;
}
#objViewer {
  height: 50vw;
  border-style: "none";
  max-height: 455px;
}

.container5 {
  background-color: #4ca03b;
  height: 200px;
}
.image-container2 {
  width: 100%;
  overflow: visible;
  position: relative;
}

.image-container3 {
  width: 100%;
  overflow: visible;
  position: relative;
}

.image-container3 img {
  width: 100%;
  position: relative;
}

.image-container1 img {
  width: 90%;
  position: relative;
  box-shadow: 0px 0px 10px 1px #0ff;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

.image-container4 img {
  width: 100%;
  position: relative;
  /* height: 100%; */
  /* margin-top: 50px; */
  /* box-shadow: 0px 0px 10px 1px #0ff; */
}

.nota-texto {
  margin-top: 5px;
  padding: 6px;
  box-shadow: 0px 0px 10px 1px #0ff;
}

.texto-f1 {
  width: 100%;
  justify-content: center;
}
.item-list {
  font-weight: var(--font-weight-1);
  font-size: 16px;
  line-height: 34px;
}

.info {
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 16px;
  box-shadow: 0px 0px 2px 1px #0ff;
  display: grid;
  /* Arriba | Derecha | Abajo | Izquierda */
  padding: 16px 10px 0px 10px;
}

.button {
  
  transform: translateY(-20px);
  padding: 6px;
  margin-top: -10px;
  background: rgba(19, 119, 119, 0.63);
  margin-left: auto;
  margin-bottom: -10px;
  border-radius: 8px;
}

.button:hover {
  transform: translateY(-22px);
  filter: brightness(115%);
  /* border: 10px solid green; */
}

/* @media (min-width: 164em) {
body::before { agrega esta propiedad antes del body
    width: 21rem;
    }
} */

@media only screen and (min-width: 1000px) {
  .page {
    /* grid-column-end: span 6; */
    width: 860px;
  }
}

@media only screen and (max-width: 360px) {
  .page {
    /* grid-column-end: span 6; */
    width: 340px;
  }
}

@media only screen and (min-width: 600px) {
  .constantes-video {
    /* grid-column-end: span 6; */
    transform: translate(-8px, 20px);
  }
}

@media only screen and (min-width: 600px) {
  .iframe1 {
    /* grid-column-end: span 6; */
    height: 400px;
  }
}
