<body>
    <article class="page">

        <header>
            <h1 id="titulo" class="page-title">Entendiendo un controlador PID</h1>

        </header>
        <!-- <header>
            <h1 class="page-title">Entendiendo un controlador PID</h1>
            <div class="linea"></div>
            
        </header> -->

        <app-intro></app-intro>
        <br>
        <br>
        <div class="linea"></div>

        <app-descripcion></app-descripcion>

        <div class="linea"></div>
        
        <app-descripcion-avanzada></app-descripcion-avanzada>

        <div class="linea"></div>
        <br>
        <app-referencias></app-referencias>
    </article>
    
</body>