* {
  box-sizing: border-box;
  margin: 0;
  /* background: #2a2d2f2c; */
  
  color: #eee;
}

:root {
  --color-1: #026aa7;
  --color-2: #e4f0f6;
  --color-3: #fafbfc;
  --color-4: #5e6c84;
  --color-5: #4ca03b;
  --font-family-1: "Poppins", "sans-serif";
  --box-shadow-1: rgb(0 0 0 / 10%) 0 0 10px;
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --border-radius: 3px;
  --font-weight-1: 300;
}

body {
  width: 100%;
  background-color: var(--color-3);
  font-family: var(--font-family-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 20px;
  
}
.page {
  height: 200%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.page-title {
  padding: 10px;
  text-align: center;
  filter: brightness(150%);
}

#titulo {
  padding: 10px;
  text-align: center;
  filter: brightness(150%);
  border-bottom-style: groove;
  border-bottom-width: 2px;
  border-bottom-color: rgba(0, 255, 255, 90%);
}

.linea {
  border-top: 1px solid rgb(200 220 220 / 90%);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 10px 1px #0ff;
  width: 90%;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
}
/* @media (min-width: 164em) {
body::before { agrega esta propiedad antes del body
    width: 21rem;
    }
} */

/* @media only screen and (min-width: 1000px) {
  .page {
    width: 860px;
  }
}

@media only screen and (max-width: 360px) {
  .page {
    width: 340px;
  }
} */
@media only screen and (min-width: 1400px) {
    .page {
      width: 1400px;
    }
  }