<div class="w3-row">
    <h2 class="subtitulo">Componentes</h2>
    <div class="contenedor">
        <div class="grilla-comp">
            <div class="item-grilla-comp-img">
                <img src="./assets/images-articles/ArduinoNano.png">
            </div>
            <div class="item-grilla-comp-text">
                <p class="texto2">x1 Arduino Nano<br><br>
                    Microcontrolador: ATmega328P<br>Pines Digitales E/S: 14 (6 para PWM)<br>Velocidad de clock: 16 MHz<br>
                    Pines Analógicos: 8
                                                                                    Voltaje de alimentación: 7-12V
                </p>
                <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/arduino-nano#D[A:arduino%20nano]')">
                    Consultar en Mercadolibre</div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="grilla-comp">
            <div class="item-grilla-comp-img">
                <img src="./assets/images-articles/servoComp.png">
            </div>
            <div class="item-grilla-comp-text">
                <p class="texto2">x1 Servo Digital Mg996r<br><br>
                    Torque(@6.0V): 12kg<br>Engranajes: Bronce<br>Rango: 4.8V a 6.0V<br>Angulo de operacion: 180<br>Medidas: 40mm x 20mm x 37mm
                </p>
                <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/servomotor-mg-996r#D[A:servomotor%20mg%20996r]')">
                    Consultar en Mercadolibre</div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="grilla-comp">
            <div class="item-grilla-comp-img">
                <img src="./assets/images-articles/sensorComp.png">
            </div>
            <div class="item-grilla-comp-text">
                <p class="texto2">x2 Sensor ultrasonico HC-SR04<br><br>
                    Tensión de Operación: 5V DC<br>Rango de medición: 2cm a 450cm<br>Frecuencia de ultrasonido: 40KHz<br>
                    Rango de medición: 2cm a 450cm<br>Ángulo de apertura: 15°
                </p>
                <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/sensor-ultrasonido-ultrasonido-hcsr04#D[A:Sensor%20Ultrasonido%20Ultrasonido%20Hcsr04%20]')">
                    Consultar en Mercadolibre</div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="grilla-comp">
            <div class="item-grilla-comp-img">
                <img src="./assets/images-articles/shieldComp.png">
            </div>
            <div class="item-grilla-comp-text">
                <p class="texto2">x1 Nano Shield Pro Arduino V3.0<br><br>
                    Voltaje de funcionamiento: 7-12V<br>Pines para 8 salidas analógicas.<br>Pines para 6 salidas PWM.<br>
                    Pines para la interfaz I2C.
                </p>
                <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/nano-shield-pro-arduino-v3.0-expansion#D[A:Nano%20Shield%20Pro%20Arduino%20V3.0%20Expansion]')">
                    Consultar en Mercadolibre</div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="grilla-comp">
            <div class="item-grilla-comp-img">
                <img src="./assets/images-articles/rodComp.png">
            </div>
            <div class="item-grilla-comp-text">
                <p class="texto2">4x Rodamiento R 3 Zz<br><br>
                    Medidas:<br>4.762mm X 12.70mm X 4.98mm<br>
                    autolubricados<br><br>
                </p>
                <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/ruleman-r3zz#D[A:ruleman%20r3zz]')">
                    Consultar en Mercadolibre</div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="grilla-comp">
            <div class="item-grilla-comp-img">
                <img src="./assets/images-articles/rod608zz.png">
            </div>
            <div class="item-grilla-comp-text">
                <p class="texto2">2x Rodamiento 608Zz<br><br>
                    Diámetro externo: 22 mm<br>Diámetro interno: 8 mm<br>Material: Acero<br>
                    autolubricados
                </p>
                <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/rodamiento-608#D[A:rodamiento%20608]')">
                    Consultar en Mercadolibre</div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="grilla-comp">
            <div class="item-grilla-comp-img">
                <img src="./assets/images-articles/setpDownComp.png">
            </div>
            <div class="item-grilla-comp-text">
                <p class="texto2">1x Fuente Step-down Dc-dc Lm2596<br><br>
                    Input voltage 4V to 40V<br>Gama de voltaje de la salida: 1.25-37VDC ajustable<br>Corriente de salida: 3A<br>Tamaño: 61mm x 34.1mm<br>
                    Display Voltímetro
                </p>
                <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/step-down-dc-dc-1%2C25-37v-3a-lm2596#D[A:Step%20Down%20Dc-dc%201,25-37v%203a%20Lm2596]')">
                    Consultar en Mercadolibre</div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="grilla-comp">
            <div class="item-grilla-comp-img">
                <img src="./assets/images-articles/guiaD52.png">
            </div>
            <div class="item-grilla-comp-text">
                <p class="texto2">2x Rieles Inferior D-52<br><br>
                    Modelo Riel d-52, de aluminio anodizado.<br>Largo de cada guia 70cm<br>Este componente que se va utilizar con se corresponder con STLs para imprimir,
                                                                                    de realizar convendria mantener este modelo de ser posible, de lo contrario tendrán que remodelar los STLs.
                </p>
                <div class="button2" (click)="onClickButtonNewTab('https://listado.mercadolibre.com.ar/riel-inferior-d-52#D[A:Riel%20Inferior%20D-52%20]')">
                    Consultar en Mercadolibre</div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="grilla-comp">
            <div class="item-grilla-comp-img">
                <img src="./assets/images-articles/wood.png">
            </div>
            <div class="item-grilla-comp-text">
                <p class="texto2">Madera de Pino<br><br>
                    Medidas tabla base: 10cm X 3.6cm X 45cm<br>
                    Medidas soporte pivote: 6,7cm X 3.6cm X 15,5cm<br>
                    Medidas soporte servo: 6,2cm X 3.6cm X 6,3cm<br>
                    Aclaración: Las medidas que se pueden intercambiar excepto por el alto del sop. pivote de 15.5cm y el alto del sop. servo de 6.3cm.
                </p>
            </div>
        </div>
    </div>
